name: Build wheels

on:
  workflow_dispatch:
    inputs:
      id:
        description: 'Unique identifier for this run'
        default: '00000000-0000-0000-0000-000000000000'
        required: false
      publish:
        description: 'Publish wheels by uploading to PyPI'
        type: boolean
        default: false
        required: false
      sdk_version:
        description: 'Version of the Konga SDK to be used'
        # this should be changed back to 'current' after 2.0.0 release
        default: 'current'
        required: true
      platform:
        description: 'Platform filter'
        type: choice
        options:
        - Windows
        - macOS
        - Linux
        - all
        required: true
        default: 'all'
      commit:
        description: 'SHA-1 of the commit to be built'
        required: false
  
  workflow_call:
    inputs:
      publish:
        type: boolean
        default: false
        required: false
      sdk_version:
        type: string
        default: 'current'
        required: false
      platform:
        type: string
        required: true
      commit:
        type: string
        required: false


jobs:
  id:
    name: Workflow ID provider
    runs-on: ubuntu-latest
    steps:
      - name: ${{ github.event.inputs.id }}
        run: echo Run identifier is ${{ inputs.id }}
    if: ${{ github.event_name == 'workflow_dispatch' }}
  
  build_sdist:
    name: Build SDist
    needs: [id]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.commit || 'master' }}
      
      - name: Build SDist
        run: pipx run build --sdist
    
      - uses: actions/upload-artifact@v4
        with:
          name: source-dist
          path: dist/*.tar.gz
      
  build_wheels:
    name: Build on ${{ matrix.os }}
    needs: [id]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v5
        if: inputs.platform == 'all' || (inputs.platform == runner.os)
        with:
          ref: ${{ inputs.commit || 'master' }}

      - name: Setup (Linux)
        if: (runner.os == 'Linux') && (inputs.platform == 'all' || (inputs.platform == runner.os))
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all
  
      - name: Setup (Windows)
        if: (runner.os == 'Windows') && (inputs.platform == 'all' || (inputs.platform == runner.os))
        run: |
          Invoke-WebRequest https://public.easybyte.it/downloads/${{ inputs.sdk_version }}/sdk?spec=win -OutFile ${{ github.workspace }}\KongaSDK.exe
          Start-Process ${{ github.workspace }}\KongaSDK.exe -ArgumentList "/install /quiet" -Wait
        shell: pwsh
  
      - name: Setup (macOS)
        if: (runner.os == 'macOS') && (inputs.platform == 'all' || (inputs.platform == runner.os))
        run: |
          curl https://public.easybyte.it/downloads/${{ inputs.sdk_version }}/sdk?spec=mac -o KongaSDK.dmg
          7z e -aoa KongaSDK.dmg && sudo installer -pkg *.pkg -target /
        shell: bash

      - name: Build wheels
        if: inputs.platform == 'all' || (inputs.platform == runner.os)
        uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_MANYLINUX_X86_64_IMAGE: manylinux_2_28
          CIBW_MANYLINUX_AARCH64_IMAGE: manylinux_2_28
          CIBW_BEFORE_ALL_LINUX: 'yum install -y wget tar zlib-devel pcre2-devel dbus-devel dbus-libs && rm -fr /usr/local/konga_sdk && mkdir -p /usr/local/konga_sdk && cd /usr/local/konga_sdk && wget https://public.easybyte.it/downloads/${{ inputs.sdk_version }}/sdk?spec=linux,tar.gz,`uname -m` -O konga_sdk.tar.gz && tar -zxvf konga_sdk.tar.gz'
          CIBW_BUILD: 'cp38-macosx_x86_64 *-macosx_universal2 *-win_amd64 *-manylinux_x86_64 *-manylinux_aarch64'
          CIBW_ARCHS_MACOS: 'universal2'
          CIBW_ARCHS_LINUX: 'x86_64 aarch64'
          CIBW_BUILD_VERBOSITY: '2'
          CIBW_ENVIRONMENT_LINUX: 'KONGASDK="/usr/local/konga_sdk"'
          CIBW_ENVIRONMENT_PASS_LINUX: 'KONGASDK'
          CIBW_ENVIRONMENT_WINDOWS: 'KONGASDK="${{ inputs.sdk_version == ''nightly'' && ''C:\\Program Files\\EasyByte\\Konga SDK Nightly'' || ''C:\\Program Files\\EasyByte\\Konga SDK'' }}"'
      
      - uses: actions/upload-artifact@v4
        if: inputs.platform == 'all' || (inputs.platform == runner.os)
        with:
          name: binary-${{ matrix.os }}
          path: ./wheelhouse/*.whl

  upload_all:
    name: Upload to PyPI
    needs: [build_wheels, build_sdist]
    environment:
      name: pypi
      url: https://pypi.org/p/kongalib
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    if: inputs.publish
    steps:
      - uses: actions/download-artifact@v6
        if: inputs.platform == 'all' || (inputs.platform == matrix.os)
        with:
          name: binary-${{ matrix.os }}
          path: dist

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        if: inputs.platform == 'all' || (inputs.platform == matrix.os)
        with:
          skip-existing: true

