name: Build wheels

on:
  workflow_dispatch:
    inputs:
      publish:
        description: 'Publish wheels by uploading to PyPI'
        type: boolean
        default: false
        required: false
      sdk_version:
        description: 'Version of the Konga SDK to be used'
        default: 'nightly'
        required: true
      platform:
        description: 'Platform filter'
        type: choice
        options:
        - Windows
        - macOS
        - Linux
        - all
        required: true
        default: 'all'
      working_directory:
        description: 'Working directory'
        type: string
        required: true
        default: ''
  
  workflow_call:
    inputs:
      publish:
        type: boolean
        default: false
        required: false
      sdk_version:
        type: string
        default: 'nightly'
        required: false
      platform:
        type: string
        required: true
      working_directory:
        type: string
        required: true
        default: ''
    secrets:
      kss_private_key:
        required: true



jobs:
  build_sdist:
    name: Build SDist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.ref }}
        if: (github.event_name != 'workflow_call')
      
      - name: Build SDist
        run: pipx run build --sdist
        working-directory: .${{ inputs.working_directory }}
    
      - uses: actions/upload-artifact@v4
        with:
          name: source-dist
          path: .${{ inputs.working_directory }}/dist/*.tar.gz
      
  build_wheels:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v5
        if: (github.event_name != 'workflow_call') && (inputs.platform == 'all' || (inputs.platform == runner.os))
        with:
          ref: ${{ github.ref }}

      - name: Setup (Linux)
        if: (runner.os == 'Linux') && (inputs.platform == 'all' || (inputs.platform == runner.os))
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all
  
      - name: Setup (Windows)
        if: (runner.os == 'Windows') && (inputs.platform == 'all' || (inputs.platform == runner.os))
        run: |
          Invoke-WebRequest https://public.easybyte.it/downloads/${{ inputs.sdk_version }}/sdk?spec=win -OutFile ${{ runner.temp }}\KongaSDK.exe
          Start-Process ${{ runner.temp }}\KongaSDK.exe -ArgumentList "/install /quiet" -Wait
        shell: pwsh
  
      - name: Setup (macOS)
        if: (runner.os == 'macOS') && (inputs.platform == 'all' || (inputs.platform == runner.os))
        run: |
          curl https://public.easybyte.it/downloads/${{ inputs.sdk_version }}/sdk?spec=mac -o ${{ runner.temp }}/KongaSDK.dmg
          7z e -aoa ${{ runner.temp }}/KongaSDK.dmg && sudo installer -pkg *.pkg -target /
        shell: bash

      - name: Build wheels
        if: inputs.platform == 'all' || (inputs.platform == runner.os)
        uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_MANYLINUX_X86_64_IMAGE: manylinux_2_28
          CIBW_MANYLINUX_AARCH64_IMAGE: manylinux_2_28
          CIBW_BEFORE_ALL_LINUX: 'yum install -y wget tar zlib-devel pcre2-devel dbus-devel dbus-libs && rm -fr /usr/local/konga_sdk && mkdir -p /usr/local/konga_sdk && cd /usr/local/konga_sdk && wget https://public.easybyte.it/downloads/${{ inputs.sdk_version }}/sdk?spec=linux,tar.gz,`uname -m` -O konga_sdk.tar.gz && tar -zxvf konga_sdk.tar.gz'
          CIBW_BUILD: 'cp38-macosx_x86_64 *-macosx_universal2 *-win_amd64 *-manylinux_x86_64 *-manylinux_aarch64'
          CIBW_ARCHS_MACOS: 'universal2'
          CIBW_ARCHS_LINUX: 'x86_64 aarch64'
          CIBW_BUILD_VERBOSITY: '2'
          CIBW_ENVIRONMENT_LINUX: 'KONGASDK="/usr/local/konga_sdk"'
          CIBW_ENVIRONMENT_PASS_LINUX: 'KONGASDK'
          CIBW_ENVIRONMENT_WINDOWS: 'KONGASDK="${{ inputs.sdk_version == ''nightly'' && ''C:\\Program Files\\EasyByte\\Konga SDK Nightly'' || ''C:\\Program Files\\EasyByte\\Konga SDK'' }}"'
        with:
          package-dir: .${{ inputs.working_directory }}
      
      - uses: actions/upload-artifact@v4
        if: inputs.platform == 'all' || (inputs.platform == runner.os)
        with:
          name: binary-${{ matrix.os }}
          path: ./wheelhouse/*.whl

  upload_all:
    name: Upload wheels
    needs: [build_wheels, build_sdist]
    environment:
      name: pypi
      url: https://pypi.org/p/kongalib
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/download-artifact@v4
        if: inputs.platform == 'all' || (inputs.platform == matrix.os)
        with:
          name: binary-${{ matrix.os }}
          path: dist
    
      - name: Publish packages to KSS
        if: (github.event_name == 'workflow_call') && (inputs.platform == 'all' || (inputs.platform == matrix.os))
        run: |
          python3 .github/scripts/publish_to_kss.py dist/*.whl --private-key "${{ secrets.kss_private_key }}" --sdk-version "${{ inputs.sdk_version }}" ${{ inputs.publish && '--public' || '' }}

      - name: Publish packages to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        if: inputs.publish && (inputs.platform == 'all' || (inputs.platform == matrix.os))
        with:
          skip-existing: true

